services:
  backend:
    build:
      context: ./backend
      args:
        NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: development
