services:
  backend:
    build:
      context: ./backend
      args:
        NODE_ENV: production
    ports:
      - "80:3000"
    env_file:
      - ./backend/.env.production
    environment:
      NODE_ENV: production
