body {
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    background-color: #ffffff;
    height: 100vh;
   }
   /* == NAVIGATION BAR == */


    /* Wrapper to hold topbar + page content in column layout */
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    /* Top navigation bar */
     .topnav {
      position: fixed;
      z-index: 1000;
      padding: 15px 20px;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #01386A;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .topnav a {
      color: white;
      text-decoration: none;
      margin: 0 30px;
    }

    .topnav a:hover {
      text-decoration: underline;
    }

    .topnav .nav_group{
      margin-right: 20%;
    }

    /* Page layout (flex row) for sidebar + main content */
    .page-content {
      padding-top: 50px;
      display: flex;
      flex: 1; /* fill the remaining space */
      overflow: hidden;
    }

    .sidebar {
      width: 200px;
      background-color: #ddd;
      padding: 20px;
    }

    .main {
      flex: 1;
      padding: 20px;
    }

   /* == UI SECTION == */
#ui_container{
   width:23.5%;
   height:90%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

 /* Taxi rank info */
.taxiRInfo_container{
   border: 1px solid black;
   border-radius: 20px;
   padding: 4%;
}


.routeTypeSelection_container{
   display: flex;
   height:30%;
   gap:10%;
   justify-content: center;
  align-items: center;
  font-size:medium;
  font-weight: 600;
}

#routeType{
   width:30%;
   height: 70%;;
   color: skyblue;
   border: none;
   font-size: medium;
}

.taxiRInput_container{
   height:120px;
   display: flex;
   flex-direction: column;
   justify-content: center ;
   align-items: center;
   gap: 15px;
}

.inputTR{
   display: flex;
   align-items: center;
   gap: 15%;
}
.inputTR input{
   width:80%;
   height:35px;
   border-radius: 20px;
   border: 1PX solid #D3D3D3;
   text-align: center;

}

.inputTR button{
  padding: 7px 1px;
   background-color:#FFD52F;
   font-weight: 600;
   border-radius: 10px;
   border: none;
   color: white;
}

/* send button */
.sendBtn{
   font-weight: 600;
   font-size: medium;
   padding: 21px 90px;
   border-radius: 20px;
   border:none;
   background-color: red ;
   color: white;
}

/* Add route */
.addRoute_container{
  position: relative;
  top:3%;
  display:flex;
  gap:5px;
  align-items: center;
  width:320px;
  height:70px;
}
.addRoute{
  border:2px solid black;
  width:280px;
  height:70px;
  border-radius: 10px;
  padding: 5px;
}

.route_button{
  border-radius: 18px;
  border: none;
  padding: 6px;
  margin-top: 5px;
}
.add_button{
  width:40px;
  height:40px;
  border-radius: 20px;
  background-color: #1C274C;
  border: none;
  cursor: pointer;
}


/*Slide */
  .price-slider-container {
    width: 70%;
    margin: 50px auto;
}

.price-slider-container.walk{
  visibility: hidden;
}

.slider {
    width: 100%;
}

.price-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.price-display {
    position: relative;
    font-size: 15px;
    margin-top: 20px;
    font-weight: lighter;
    left:90px;
   font-family: cursive;
}

/*message */
textarea{
   width:290px;
   height:110px;
   border-radius: 10px;
   font-size: small;
   font-family:sans-serif;
   resize: none;
   padding: 7px;
}

 /* Markers design */

 .map_container{
   width: 80%;
   height: 98vh;
   position: relative;
   top:5px;
   right:5px;
   display: flex;
   flex-direction: row;
   gap:10px;
}

#map {
  width: 100%;
  height: 96%;
  border: 2px solid black;
  border-radius: 10px;
 }

 
