body {
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: row;
    width:100vw;
    font-family: sans-serif;
    background-color: #F7F7F7;
    height: 100vh;
   }
   /* == UI SECTION == */
#ui_container{
   width:30%;
   height:100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.search_container{
   display: flex;
   flex-direction: column;
   gap:5px;
   margin-top: 30px;
}
.search_input{
   width:300px;
   height:40px;
   border-radius: 20px;
   border: none;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   text-align: center;
}
.search_input:focus{
   border:none;
}

.cover{
   height:30px;
   width:250px;
   background-color: #F6DC76;
}

.cover.price{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px 10px 0px 10px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.cover.total_price{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 10px 0px 10px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.list_container{
   display: flex;
   flex-direction: row;
   
}

.listSub_container{
   width:133px;
}

.listSub_container ul{
   list-style: none;
}

.listSub_container.list_left ul{
   margin-right: 20px;
   border-left: 1px solid black;
}

.listSub_container.list_right ul{
   border-right: 1px solid black;
}


.listSub_container.list_right li{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
   position: relative;
   right:30%;
}
.route_circle{
   width:10px;
   height:10px;
   border-radius: 50%;
   border:1px solid black;
   background-color: red;
}

.sub_direction_container{
   background-color: #EEEEEE;
   min-width:290px;
   min-height:150px;
   border-radius: 25px;
}

.default_direction_button{
   border: none;
   padding: 7px;
   background-color: #9ACBD0;
   color:#000000;
   border-radius:5px;
   margin-bottom: 3px;
   font-size: medium;
   cursor: pointer;

}
.default_direction_button:hover{
   background-color: #79D7BE;
}
.direction_container .direction_button{
   width:40px;
   height:40px;
   border-radius: 50%;
   border: 2px solid #1975CD;
   background-color: #CEE6C2;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   margin:8px;
   cursor: pointer;
}


.bar_container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width:100%;
  height:40px;

}

.bar_container p{
font-weight: bold;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.toggleButtons_container{
   display: flex;
   border-radius: 13px;
   background-color: #f3f2f2;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.toggleBtn{
   width:140px;
   height:40px;
   border:none;
   cursor: pointer;
}

.toggleDefaultBtn{
   width:10px;
   height:40px;
   border-radius: 10px;
   background-image:linear-gradient( #e7be1a,#F6DC76);
   border: 1px solid rgb(197, 197, 197);
}

.toggleBtn.from{
   height:40px;
   border-top-left-radius: 13px;
   border-bottom-left-radius: 13px;
   margin-right: 5px;
}

.toggleBtn.from:hover{
   box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.4);
 }

.toggleBtn.to{
   height:40px;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
   margin-left: 5px;
}

.toggleBtn.to:hover{
   box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.4);
}

/* Context menu [Marker confirmation] */
  .menu.markerConfirmation{
   position:absolute;
   visibility: hidden;
   top:40%;
   left:48%;
   width:280px;
   height:150px;
   z-index:10;
   background-color: #F2EFEF;
   border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
 }


 .menu.markerConfirmation .markerInformation{
   position: relative;
   width:100%;
   top:7%;
   text-align: center;
 }

 .menu #title{
   position: relative;
   top:5%;
   font-weight: bold;
   text-align: center;
 }

 .menu .close_button{
   position: absolute;
   left:88%;
   bottom:80%;
   background-color: #F2EFEF;
   cursor: pointer;
   border:none;
 }

 .menu .close_button:hover{
  color: #F30909;
 }

 .btnContainer{
   position:absolute;
   top:70%;
   left:30%
 }

 .btnContainer .btn{
   width:57.5px;
   height:21px;
   border:none;
   color:white;
   background-color: #F6DC76;
   border-radius: 5px;
   cursor: pointer;
 }

 .btnContainer .btn:hover{
   background-color: #FFEFAD;
 }


  /*Toggle button*/

  .toggle-container {
   position: relative;
   top:6%;
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 
 .toggle-button {
   width: 50px;
   height: 25px;
   background-color: #ccc;
   border-radius: 25px;
   position: relative;
   transition: background-color 0.3s;
 }
 
 .toggle-circle {
   width: 20px;
   height: 20px;
   background-color: white;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   transition: left 0.3s;
 }
 
 .toggle-button.active {
   background-color: #4caf50;
 }
 
 .toggle-button.active .toggle-circle {
   left: 25px;
 }
 
 .toggle-label {
   font-size: 16px;
   margin-left: 6px;
   font-family: cursive;
 }

 /* Markers design*/

 .custom-mapbox-pin {
   --marker-color: #3fb1ce;
 
   width: 30px;
   height: 50px; /* includes pin and tip */
   background: var(--marker-color);
   border-radius: 15px 15px 50% 50%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   transform: rotate(0deg);
   transform-origin: center bottom;
   overflow: visible;
 }
 
 .custom-mapbox-pin::after {
   content: "";
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid var(--marker-color);
 }
 
 .custom-pin-emoji {
   font-size: 18px;
   line-height: 1;
   z-index: 1;
 }
 
 .message{
   max-width:250px;
   max-height: 250px;
   font-family: 'Open Sans', sans-serif;
   font-size: medium;
 }

 .message .main{
   font-weight: bold;
 }
 
/* == MAP SECTION ==*/

#map {
  width: 70%;
  height: 98vh;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  top:5px;
  right:5px;
 }