body {
     margin: 0;
     padding: 0; 
     display: flex;
     flex-direction: row;
     width:100vw;
     font-family: sans-serif;
     background-color: #F7F7F7;
    }
#ui_container{
    width:45%;
    height:100vh;
    overflow: hidden;
    position: relative;
}  

#map {
   width: 55%;
   height: 98vh;
   border: 2px solid black;
   margin:5px;
   border-radius: 10px;
  }
h1{
    text-align: center;
}
/** Table **/
.grid-table{
  height:87%;
}
.grid-row-container{
  overflow-y: scroll;
  height:93%;
}
/* Ensure rows appear as blocks with borders and shadows */
.grid-row {
  display: flex; /* Change from 'contents' to 'flex' */
  gap: 1px;
  width: 97%;
  margin: 0px 8px 4px 4px;
  border-radius: 20px; /* Rounded corners */
  padding: 2px; /* Space inside row */
  overflow: hidden; /* Prevents child elements from breaking border-radius */
}

.grid-row:not(.grid-header) {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.grid-cell {
  flex: 1; /* Ensure equal distribution */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.grid-row:not(.grid-header) .grid-cell {
  background-color: #ffffff;
}

/* Header styling */
.grid-row.grid-header {
  font-weight: bold;
}

.grid-row.grid-header .grid-cell {
  background-color: inherit;
  color: black;
}

/* Hover effect */
.grid-row:not(.grid-header):hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.grid-row:not(.grid-header):hover .grid-cell {
  background-color: inherit;
  color: black;
}

  .button{
    border:none;
    border-radius: 30px;
    font-weight: lighter;
    cursor: pointer;
  }

  .button.add{
    padding:10px 30px;
    background-color: #193148;
    color:white;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .button.add:hover{
    background-color: #305A84;
  }

  #multi_button{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .btn{
    border: none;
    font-weight: bold;
  }

  .btn.route{
    background-color:#FAE17F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100px;
    height:25px;
  }
  .btn.edit{
    background-color: #76F68D;
    border-bottom-left-radius: 10px;
    width:50px;
    height:25px;
  }
  .btn.del{
    background-color: #F67676;
    border-bottom-right-radius: 10px;
    width:50px;
    height:25px;
  }
  .sub_multi_button{
    display: flex;
    flex-direction: row;
   
  }

  /* Semi Context Menu*/
  .menu{
    width:300px;
    height:200px;
    background-color: #F2EFEF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    left:30%
  }

 
  
  /* editing menu */
  .menu.editing{
    visibility: hidden;
  }

  .menu.editing input{
    border:none;
    width:180px;
    border-radius: 5px;
    height: 30px;
  }

  .menu #editing_name{
    position: relative;
    right:1%;
    margin-right:18px ;
  }

  .menu div{
    margin-bottom: 4%;;
  }

  .btn.updateEdit{
    background-color:#F6DC76;
    color:white;
    padding:5px 10px;
    border-radius: 10px;
  }

  .btn.updateEdit:hover{
    background-color: #FFEFAD;
  }
  

  /*delete menu */
  .menu.deleting{
    visibility: hidden;
  }


  .menu.deleting div{
    position: relative;
    bottom:10%;
    width:100%;
    text-align: center;
  }

  .menu.deleting div span{
    font-weight: bold;
  }

  .menu #title{
    position: relative;
    font-weight: bold;
  }


  .menu .close_button{
    position: relative;
    background-color: #F2EFEF;
    left:42%;
    bottom:20%;
    cursor: pointer;
    border:none;
  }

  .menu .close_button:hover{
   color: #F30909;
  }
  .btn.deleting{
    background-color:#F6DC76;
    color:white;
    padding:5px 10px;
    border-radius: 10px;
    position: relative;
    bottom: 8%;
    cursor: pointer;
  }

  .btn.deleting:hover{
    background-color: #FFEFAD;
  }
/* Context Menu*/
.menu_wrapper{
    position:absolute;
    border-radius: 20px;
    width:380px;
    height:300px;
    visibility:hidden;
    left:22%;
    top:40%;
    background-color: #F2EFEF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);  
}

#close_button{
    position: absolute;
    padding: 0px;
    top:10px;
    right:10px;
    border:none;
    background-color: #F2EFEF;
    cursor: pointer;
}

.input_line.name{
    position: absolute;
    top:50px;
    left:30px;
    border: none;
}

.input_line.name label{
    margin-right: 19px;
}

.input_line input{
   border-radius: 10px;
   height:30px;
   width:240px;
   border:none;
}

.input_line textarea{
    border-radius: 10px;
    height:70px;
    width:240px;
    border: none;
    resize: none;
 }

.input_line.prov{
    position: absolute;
    top:90px;
    right:1px;
    left:30px;
}

.input_line.address{
    position: absolute;
    top:130px;
    left:30px;
}

.input_line.address label{
    margin-right: 2px;
    position: relative;
    bottom:35px;
}

.input_line.address button{
   padding: 5px 5px;
   position:absolute;
   margin-left: 5px;
   white-space:nowrap;
   border-radius: 10px;
   border:none;
   background-color:#F6DC76;
   color:white;
}

#update_button{
    position: absolute;
    left:160px;
    padding:5px 10px;
    border-radius: 10px;
    border:none;
    background-color:#F6DC76;
    color:white;
    top:250px;
    cursor: pointer;
}

#update_button:hover{
  background-color: #FFD737;
}

